{
  "github_token": "YOUR_GITHUB_PERSONAL_ACCESS_TOKEN",
  "github_repo": "lehieu2909/test_OTA",
  "arduino_cli_path": "arduino-cli",
  "board_fqbn": "esp32:esp32:esp32s3",
  "sketch_path": "d:\\SCA\\example\\Test_OTA\\test_OTA\\test_OTA.ino",
  "version_file": "version.txt",
  "auto_increment": true,
  "update_ino_file": true
}
